<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard | Mars</title>
        <!-- Favicon
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->

        <!-- Bootstrap CSS CDN -->
        <style>
            .data-container{
                margin:20px 0;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }
        </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href ="/Assets/css/styles.css">
    </head>
    <body>
        

        
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Comp Logo</h3>
                </div>
    
                <ul class="list-unstyled components">
                    <p>Admin Profile</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Approve</a>
                            </li>
                            <li>
                                <a href="#">Reject</a>
                            </li>
                            <li>
                                <a href="#">Pending</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>

                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
    
            </nav>
    
            <!-- Page Content  -->
            <div id="content">
    
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
    
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
    
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item" id="approved" onclick="addClass(this.id)">
                                    <a class="nav-link" href="/users/dashboard/approved">Approved</a>
                                </li>
                                <li class="nav-item" id="rejected" onclick="addClass(this.id)">
                                    <a class="nav-link" href="/users/dashboard/rejected">Rejected</a>
                                </li>
                                <li class="nav-item" id="home" onclick="addClass(this.id)">
                                    <a class="nav-link" href="/users/dashboard/pending">Home</a>
                                </li>
                                <li class="nav-item" id ="sent_back" onclick="addClass(this.id)">
                                    <a class="nav-link" href="/users/dashboard/Sent_Back">Sent_Back</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/logout">Log out</a>
                                </li>
                            </ul>
                        </div>

                        
                    </div>
                </nav>
    
                <h2 style="font-family: 'Times New Roman', Times, serif; font-size:40px;" class="text-center bg-warning text-dark">Welcome <%= user %></h2>
                

                <div class="container-fluid">
                    <div class="row">
                        <% if(page.length !=0){ %>
                        <% var i=1; %>
                        <% page.forEach(d => { %>
                            <div class="col-6 r col-sm-6 col-md-6 data-container">
                                <div>
                                    <div class="row">
                                        <div class="col-4">
                                            <img class="card-img-top img-fluid"  src="<%=d.profile_image%>" alt="Card image cap">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title"><%=d.name %></h5>
                                            <p class="" style="color : black"><%=d.service_name %></p>
                                            <p class="" style="color : black"><%=d.service_description %></p>
                                            
                                            <a class="btn btn-primary" id="1" href="/users/dashboard/details/<%=d.vendor_id%>">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% i++ %> 
                        <%})%>
                        <%} else{%>
                            <h2> No records Found</h2>
                        <%}%>    
                    </div>
                </div>


             </div>
        </div>
        
        
        
        
        
        
        
        
        
        


















        <script>
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
        <script>
            function DetailsPage(value){
                console.log("id value is : "+ value)
                fetch('/users/dashboard/details/'+value, { method: 'POST'})
                .then(function (response) {
                    if (response.ok) {
                    console.log('page has been loaded... ')
                    return
                    }
                    throw new Error('Request failed.')
                })
                .catch(function (error) {
                    console.log(error)
                })
                console.log(value);

            }
        </script>
        <script>
                function addClass(val){
                  console.log("you press  " + val)
                  let active_Element = document.getElementById(val);
                 
                  if(document.getElementById('home').classList.contains('active')){
                    document.getElementById('home').classList.remove('active');
                  }
                  if(document.getElementById('approved').classList.contains('active')){
                    document.getElementById('approved').classList.remove('active');
                  }

                  if(document.getElementById('rejected').classList.remove('active')){
                    document.getElementById('rejected').classList.remove('active');
                  }
                  if(document.getElementById('sent_back').classList.remove('active')){
                    document.getElementById('sent_back').classList.remove('active');
                  }
                //  document.getElementById('footer').classList.remove('active');
          
                  active_Element.classList.add('active');
                }
        </script>
    </body>
</html>
